body {
    color: rgb(60, 179, 113);
    background:rgb(0, 84, 71);
    margin: 0px;

}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
